global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:

  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "hotel-booking-backend"
    metrics_path: "/metrics"
    scrape_interval: 10s
    static_configs:
      - targets: ["backend:3000"]
